.card {
  width: 20pc;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mat-raised-button {
  margin-right: 8px;
}

.text-muted {
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
