body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html,
body {
  height: 100%;
}

.yellowgreen-snackbar {
  background: yellowgreen;
  color: black;
}

.red-snackbar {
  background: rgb(161, 47, 47);
  color: black;
}
